
.post-card {
  width: 300px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.post-card:hover {
  transform: scale(1.02);
}

.post-card.light {
  background-color: white;
  color: #222;
}

.post-card.dark {
  background-color: #111010;
  color: white;
}
