
.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: #fafafa;
  max-width: 98%;
  margin-top: 20px;
  /* border: 3px solid black; */

}

/* .container-box{
   display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

} */

.create-post-form input,
.create-post-form textarea,
.create-post-form select {
  padding: 12px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.create-post-form textarea {
  height: 120px;
  resize: vertical;
}

.create-post-form button {
  width: 150px;
  padding: 12px;
  font-size: 16px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.create-post-form button:hover {
  background-color: #005fcc;
}

.create-post-form button:active {
  transform: scale(0.98);
}

h1 {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 600;
}
